{% extends "EUMainBundle::layout.html.twig" %}

{% block title %}
  Home - {{ parent() }}
{% endblock %}

{% block content %}
<style>
.big_numbers div {
    text-align: center;
}
.row div {
    border-right: solid 1px #eeeeee;
}
.row div:last-child {
    border-right: none;
}
.row div h3 {
    text-align: center;
    margin-top: 10px;
    color: #777777;
}
.row table {
    font-size: 14px;
}
.big_numbers .big_number {
    font-size: 60px;
    font-weight: bold;
    color: rgb(204,0,51);
}
.activity-feed {
  padding: 15px;
  height: 300px;
  overflow-y: scroll;
  text-align: left;
}
.activity-feed .feed-item {
  position: relative;
  padding-bottom: 20px;
  padding-left: 30px;
  border-left: 2px solid #e4e8eb;
}
.activity-feed .feed-item:last-child {
  border-color: transparent;
}
.activity-feed .feed-item:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: -6px;
  width: 10px;
  height: 10px;
  border-radius: 6px;
  background: #fff;
  border: 1px solid #f37167;
}
.activity-feed .feed-item .date {
  position: relative;
  top: -5px;
  color: #8c96a3;
  text-transform: uppercase;
  font-size: 13px;
}
.activity-feed .feed-item .text {
  position: relative;
  top: -3px;
}

</style>
<div class="page-header">
    <h1>Dashboard</h1>
</div>
<div class="row big_numbers">
    <div class="col-sm-3">
        <h3>Pot</h3>
        <span class="big_number">{{ money_pot }}&euro;</span>
    </div>
    <div class="col-sm-3">
        <h3>Your points</h3>
        <span class="big_number">{{ user_points }}</span>
    </div>
    <div class="col-sm-3">
        <h3>Your rank</h3>
        <span class="big_number">{{ user_rank }}</span>
    </div>
    <div class="col-sm-3">
        <h3>Games left</h3>
        <span class="big_number">{{ games_left }}</span>
    </div>
</div>
<hr>
<div class="row">
    <div class="col-sm-6">
        <h3>Activity Feed</h3>
        <div class="activity-feed">
            {% for bet in bets %}
            <div class="feed-item">
                <div class="date">{{ bet.updatedAt | date('M j G:i') }}</div>
                <div class="text"><a href="users/{{ bet.user.id }}">{{ bet.user }}</a> {{ bet.updatedAt == bet.createdAt ? 'added a' : 'updated his' }} bet on <a href="games/{{ bet.game.id }}">{{ bet.game }}</a></div>
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="col-sm-6 col-lg-3">
        <h3>Upcoming Games</h3>
        <table class="table table-condensed table-striped">
            <tr>
                <th>Game</th>
                <th>Time</th>
            </tr>
            {% for game in games|slice(0,8) %}
            <tr>
                <td>{{ game }}</td>
                <td>{{ game.startTime | date('M j @ G:i') }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
    <div class="col-sm-6 col-lg-3">
        <h3>Leaderboard</h3>
        <table class="table table-condensed table-striped">
            <tr>
                <th>User</th>
                <th>Points</th>
            </tr>
            {% for username,points in users %}
            <tr>
                <td>{{ username }}</td>
                <td>{{ points }}pts</td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>
{% endblock %}
