{% extends "EUMainBundle::layout.html.twig" %}

{% block title %}
  Home - {{ parent() }}
{% endblock %}

{% block content %}
<h1>Your Bets</h1>
<table class="table table-striped">
    <tr>
        <th>#</th>
        <th>Pot</th>
        <th>Game</th>
        <th>Your bet</th>
        <th>Created at</th>
        <th>Last update</th>
        <th></th>
    </tr>
    {% for bet in bets %}
    <tr>
        <td>{{ loop.index }}</td>
        <td>{{ bet.pot.name }}</td>
        <td>{{ bet.game }}</td>
        <td>{{ bet.betScores }}</td>
        <td>{{ bet.createdAt | date('d/m/y H:i') }}</td>
        <td>{{ bet.updatedAt | date('d/m/y H:i') }}</td>
        <td></td>
    </tr>
    {% endfor %}
</table>
{% endblock %}
