{% extends "EUMainBundle::layout.html.twig" %}

{% block title %}
  Home - {{ parent() }}
{% endblock %}

{% block content %}
<h1>Your Pots</h1>
<table class="table table-striped">
    <tr>
        <th>#</th>
        <th>Name</th>
        <th>Pot manager</th>
        <th>Amount</th>
        <th>Joined</th>
        <th>Paid</th>
        <th></th>
    </tr>
    {% for participation in participations %}
    <tr>
        <td>{{ loop.index }}</td>
        <td>{{ participation.pot.name }}</td>
        <td>{{ participation.pot.manager }}</td>
        <td>{{ participation.pot.amount }}</td>
        <td>{{ participation.createdAt | date('d/m/y H:i') }}</td>
        <td>{{ (participation.paidAt is null) ? 'not yet paid' : participation.paidAt | date('d/m/y H:i') }}</td>
        <td></td>
    </tr>
    {% endfor %}
</table>
{% endblock %}
