<!DOCTYPE html>
<html ng-app="euro2016App">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Euro 2016{% endblock %}</title>
    {% block javascripts %}
    <script type="text/javascript" src="{{ asset('js/jquery.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/bootstrap.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/angular.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/angular-resource.js') }}"></script>
    {% endblock %}
    {% block stylesheets %}
    {% stylesheets filter='cssrewrite'
    'css/bootstrap.css' %}
    <link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
    {% endstylesheets %}
    <link rel="stylesheet" href="{{ asset('css/jquery-ui.css') }}" type="text/css" />
    <link rel="stylesheet" href="{{ asset('css/global.css') }}" type="text/css" />
    {% endblock %}
    {% include 'BraincraftedBootstrapBundle::ie8-support.html.twig' %}
  </head>

<body>
	{{ render(controller("EUMenuBundle:Menu:getMenu")) }}
	<div class="container" id="sitecontainer">
		{% for key, messages in app.session.flashbag.all() %}
			{% for message in messages %}
				<div class="alert alert-{{ key }} alert-dismissable">
					<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
					{{ message|raw }}
				</div>
			{% endfor %}
		{% endfor %}
		{% block body %}
		{% endblock %}
		<hr>
		<footer>
			<p>Euro 2016 © 2016</p>
		</footer>
    </div>
    <script type="text/javascript" src="{{ asset('js/app.js') }}"></script>
</body>
</html>
