{% extends "EUMainBundle::layout.html.twig" %}

{% block title %}
  Games - {{ parent() }}
{% endblock %}

{% block content %}
<script type="text/javascript" src="{{ asset('bundles/eumain/js/services.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/eumain/js/controllers.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/eumain/js/directives.js') }}"></script>
<style>
.game {
    //padding: 10px;
    //background-color: #f3f3f3;
    //border-radius: 5px;
    //text-align: center;
}
.game .panel-heading {
    font-weight: bold;
}
.game .panel-body {
    text-align: center;
}
.game .flags img {
    //border-radius: 50%;
    //border: 1px #a3a3a3 solid;
    height: 45px;
}
.game .flags strong {
    font-size: 20px;
}
.game .names {
    font-size: 14px;
    margin: 5px;
    overflow: hidden;
    height: 34px;
    max-height: 34px;
}
.game .table tr td:last-child {
    min-width: 80px;
}
.game .table tr th:nth-child(2) {
    text-align: center;
}
.loader-ajax img {
    height: 50px;
}
</style>
<div class="page-header">
    <div class="loader-ajax pull-right" class="col-sm-12">
        <img ng-src="{{ asset('img/loader.gif') }}"/>
    </div>
    <h1>Games</h1>
</div>
<div ng-controller="GamesController as gamesCtrl" class="row">
    <div class="col-sm-12">
        <div class="col-sm-3 form-inline">
            Order by:
            <select class="form-control" ng-model="order">
                <option selected="selected" value="startTime">Date/time</option>
                <option value="-startTime">Date/time (reversed)</option>
                <option value="team1.shortName">Team 1</option>
                <option value="team2.shortName">Team 2</option>
                <option value="pool">Pool</option>
            </select>
        </div>
    </div>
    <game ng-repeat="game in games | orderBy: order" game="game" participations="participations" bets="bets"></game>
</div>

{% endblock %}
