{% extends "EUMainBundle::layout.html.twig" %}

{% block title %}
  Home - {{ parent() }}
{% endblock %}

{% block content %}
<h1>Games</h1>
<table class="table table-striped">
    <tr>
        <th>#</th>
        <th>Team 1</th>
        <th>Team 2</th>
        <th>Score 1</th>
        <th>Score 2</th>
        <th>Start time</th>
        <th></th>
    </tr>
    {% for game in games %}
    <tr>
        <td>{{ loop.index }}</td>
        <td>{{ game.team1.longName }}</td>
        <td>{{ game.team2.longName }}</td>
        <td>{{ game.score1 }}</td>
        <td>{{ game.score2 }}</td>
        <td>{{ game.startTime | date('d/m/y H:i') }}</td>
        <td></td>
    </tr>
    {% endfor %}
</table>
{% endblock %}
